import React from 'react';

interface {{pascalCase name}}Props {
    
}

const {{pascalCase name}} = (props: {{pascalCase name}}Props) => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};
